body{
    background-color: black;
    color: white;
}
#dice{
    height: 50px;
    width: 50px;
    margin-left: 300px;
    display: block;
}
#name-1{
    margin-left: 300px;
    margin-top: 150px;
    font-size:40px;
}
#name-2{
    margin-left: 300px;
    margin-top: 200px;
    font-size: 40px;
}
.q{
    font-size: 40px;
}
#btn-roll:hover{ 
    font-size: 13px;
    background-color: rgb(50, 32, 101);

}